body {
    background: #f2f2f2  !important;
    text-align: center;
    font-family: 'Quicksand', sans-serif !important;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

  }
  .home
  {
    font-family: 'Baloo', cursive;
  }
  .bg-light
  {
    background: #83bf97  !important;
    color: #fff !important;
    font-family: 'Baloo', cursive;
  }
  .navbar-brand
  {
    color: #fff !important ;
    font-family: 'Baloo', cursive;

  }
  .title
  {
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 90%;
    line-height: 16px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;


  }
  .card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 370px;
    position: relative;
    width: 100%;
  }
  .limitText
  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-1 {
    box-shadow: 0 5px 8px rgba(0,0,0,0.12), 0 6px 7px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .action:hover{
    opacity: 0.7;
    cursor: pointer;
  }
  .dropdown-menu-right {
    right: 0;
    left: auto;
  }
  .dropdown-item {
    font-family: 'Roboto', sans-serif !important;
  }
  a
  {
      color: #000;
  }
  .itemList
  {
    width: 100%;
    /* height: 130px; */
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
.itemList:hover{
    box-shadow: 0 10px 24px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);

  }

.center {
  height: 130px;
  display: flex;
  align-items: center;
  }


.ans{
  height: 50px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  width: 95%;
  
}


.container_editUser
{
  font-family: 'Baloo', cursive;
  background-color: #fff;
  overflow-y:scroll; 
  

}
.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.item-edit-user
{
  width: 100%;
  overflow: hidden;
  padding: 8px 0;
  margin: 10px 0;
  border-bottom:1px solid #222;
  font-size: 130%;
}
.nav-link{
  cursor: pointer;
}
.item-edit-user input
{
  border:none;
  outline: none;
  background: none;
  color: #000;
  margin: 0 10px;
}

/* CREATE QUIZ */

.container_createQuiz
{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fff;
  font-size: 20px;
  font-family: 'Baloo', cursive;

}
.topcreateQuiz
{
  width: 100%;
  height: 8%;
  background: #FF7051;
}
.contentcreateQuiz
{
  width: 100%;
  height: 92%;
  background: #fff;
}

.upLoadImage
{
  /* height: 85%; */
  border: 3px dotted #e2e2e2;
  margin-top: 30px;
  background: #f4f4f4;
}

/* CHECKPUBLIC */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.collection-md
{
  justify-content: center;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 5px
}

.center-div
{
  align-items: center;
  display: flex;
}

.userShowQuest
{
  font-family: 'Baloo', cursive;

}
.item-collection-content
{
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  top: 0;
  opacity: 0.5;
  border-radius: 3px;
  cursor: pointer;
}
.item-collection-content:hover
{
  opacity: 0.2;

}
.item-collection{
  background: #b02818;
  height: 8vw;
  width: 100%;
  position: relative;
  /* border-radius: 3px; */

}
.item-collection-img{
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.item-game{
  width: 100%;
  height: 100%;
  background:#fff;
  border-radius: 4px;
  box-shadow: 0px 10px 40px -10px rgba(0,64,128,0.2);

}
.item-game-image{
  width: 100%;
  height: 60%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.item-game-content{
  width: 100%;
  height: 40%;
  padding: 10px;
}
.item-game:hover  
{
  box-shadow: 0px 10px 40px 2px rgba(0,64,128,0.2);
  cursor: pointer;
}
.btnAdd:hover{
  box-shadow: 0px 10px 40px 2px rgba(0,64,128,0.2);
  cursor: pointer;  
}
.btnAdd{

  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 10px 40px -10px rgba(0,64,128,0.2);
}

.info-category{
  width: 85%;
  height: 20vw;
  border-radius: 3px;
  text-align: left;
  position: relative;
  margin-bottom: 10px;
}
.info-category-content{
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
}
.info-category-content-circle{
  width: 35%;
  height: 35%;
  border-radius: 50%;
  background: #fff;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  -webkit-box-shadow: 0px 0px 38px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 38px -14px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 38px -14px rgba(0,0,0,0.75);
}

.info-category-title{
  height: 20%;
  width: 100%;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
}
.category-a{
  background-color: #9ccdfd;
  background-image: linear-gradient(0deg, #9ccdfd 0%, #affbd2 100%);
}
.category-b{
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  
}
.category-c{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);  
}
.category-d{
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);  
}
.category-e
{
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  
}
.category-f{
background-color: #F4D03F;
background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);

}
.info-category-a{
  background: #7ea6b7;
}
.info-category-b{
  background: #c1979d;

}
.info-category-c{
  background: #d8a463;

}
.info-category-d{
  background: #7ea6b7;

}

.btn-category{
  width: 50%;
  height: 70%;
  background: #fff;
  /* border-radius: 3px; */
  border-bottom:3px solid #c4c4c4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
}
.mobile{
  /* padding: 5px; */
  overflow-x: scroll;
  white-space: nowrap;
  height:100px;

}
.item-category-moblie{
  height: 40px;
  /* background: #000; */
  width: 90px;
  display:inline-block;
  margin-right: 10px;
  border-radius: 2px;

}
.item-category-moblie:hover{
  box-shadow: 0px 10px 40px 2px rgba(0,64,128,0.2);
  cursor: pointer;
}
.item-category-moblie-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  

}

.item-category-moblie-name{
  
}
@media (max-width: 575.98px) { 
  .desktop{
    opacity: 0;
    height: 0;
    margin-top: 0;
  }
  .mobile{
    height: auto;
    margin-bottom: 30px;

  }
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
  .desktop{
    opacity: 0;
    height: 0;
    margin-bottom: 30px;

  }
  .mobile{
    height: auto;
    margin-bottom: 30px;

  }
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
  .desktop{
    height: auto;
    /* margin-top: 90px; */

  }
  .mobile{
    opacity: 0;
    height: 0;
    margin-top: 0;

  }
 }
 .background-single_slider{
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  
 }

 .category{
  white-space: nowrap;
  height:100px;
  z-index: 1000;
  padding: 0 !important;
  position: relative;

 }
 .content-category{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 2px;
  text-align: left !important;
 }
 .nav-item:hover .content-category {
  display: block;
 }
 .item-category{
  padding: 10px 20px 0px 20px;
  width: 100%;
  text-align: left;
  border-radius: 3px;
 }
 .item-category:hover{
  background: #F2F2F2;
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
  .desktop{
    height: auto;
    /* margin-top: 90px; */

  }
  .mobile{
    opacity: 0;
    height: 0;
    margin-top: 0;

  }
 }

@media (min-width: 1200px) { 
  .desktop{
    height: auto;
    /* margin-top: 90px; */

  }
  .mobile{
    opacity: 0;
    height: 0;
    margin-top: 0;

  }
 }
 img{
   width: 100%;
   height: auto;
 }
 
 .main-header-area{
   position: sticky;
   top: 0;
 }

