.detail-user
{
    font-family: 'Baloo', cursive;
    color: #271e17;
    text-align: left;
    margin-bottom: 3em;
}
.icon
{
    margin-right: 1em;
}
.user-info{
    height: 200px !important;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;

}
.btn-info-user{
    width: 100% !important;
    height: 20% !important;
    background: #5a8468 !important;
    margin-top:12px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.discover{
    box-shadow: #FFAA01 0px 2px 4px 0px;
    width: 100%;
    margin-bottom: 20px;

}
.discover:hover{
    box-shadow: #FFAA01 0px 2px 10px 0px;
    cursor: pointer;
}
.btn-info-user:hover{
    cursor: pointer;
    opacity: 0.8;
}
.btn-bamboo-quest{
    background: #1979e8;
    float: right;
    padding: 6px;
    font-size: 10px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    border-bottom: 4px solid  #0e52a0
}
.btn-bamboo-quest:hover{
    opacity: 0.8;
}
.divDiscover{
    background-color: #FAACA8;
background-image: -webkit-linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
background-image: -moz-linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
background-image: -o-linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

}
.container-quiz{
    padding:30px 30px;
    background: #f9f9f9;
    width: 100%;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
    margin-bottom: 20px;
}
.item-my-quest{
    width: 100%;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px 0px;
    margin-top: 15px;
    border-radius: 2px;
    cursor: pointer;
}
.item-my-quest:hover{
    opacity: 0.8;
}
.count-quest{
    position: absolute;
    bottom: 3px;
    right: 3px;
    height: 30px;
    width: 30px;
    background: #000000a1;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 2px;

}
@media (max-width: 575.98px) {  .discover{width: 0;margin: 0;} }

@media (min-width: 576px) and (max-width: 767.98px) {  .discover{width: 0;margin: 0;} }

@media (min-width: 768px) and (max-width: 991.98px) {.user-info{margin-bottom: 20px;} }

@media (min-width: 992px) and (max-width: 1199.98px) { .user-info{margin-bottom: 20px;}  }

@media (min-width: 1200px) { .user-info{margin-bottom: 20px;}  }