/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(146, 146, 146);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.home {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #f2f2f2;
  text-align: left;
  overflow-y: scroll;
}
.layout__circle,
.layout__half-circle {
  position: fixed;
  background: #fff;
  border-radius: 50%;
  opacity: 0.6;
}

.layout__circle {
  top: 30%;
  width: 13rem;
  height: 13rem;
}

.layout__half-circle {
  right: -25rem;
  bottom: -25rem;
  width: 50rem;
  height: 50rem;
}

.search-box {
  display: block;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 3rem;
  margin: 0;
  padding: 0 2.875rem 0 0.875rem;
  background: #fff;
  border: 0.125rem solid;
  border-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 1rem;
  color: #333;
  transition: border-color 0.25s ease;
  -webkit-appearance: none;
  border-color: #57b846;
}
.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 2.5rem !important;
  margin: 0.25rem !important;
  padding: 0;
  border-radius: 3px;
}

.search-content-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.home .container-card {
  margin-top: 20px;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

.home .bamboo-card {
  height: 320px;
  padding: 10px;
  display: inline-block;
}

.card-content {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.15);
  background: white;
}

.card-content:hover {
  box-shadow: 0 0 0.9rem 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.pre-card {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.next-card {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.next-card-btn {
  width: 100%;
  height: 50px;
  background-color: rgba(116, 116, 116, 0.397);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  opacity: 0.4;
}
.pre-card-btn {
  width: 100%;
  height: 50px;
  background-color: rgba(116, 116, 116, 0.397);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  opacity: 0.4;
}
.pre-card-btn:hover {
  opacity: 1;
  cursor: pointer;
}
.next-card-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.home .card-image {
  height: 55%;
  width: 100%;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}
.home .card-image-item {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem 0.25rem 0 0;
  object-fit: cover;
}
.home .card-item-content {
  width: 100%;
  height: 45%;
  padding: 10px;
  position: relative;
}
.home .text-created {
  position: absolute;
  bottom: 0;
  left: 10px;
}
.home .user-created {
  position: absolute;
  bottom: 0;
  right: 10px;
}
@media (max-width: 575.98px) {
  .home .bamboo-card {
    width: 87%;
  }
  .pre-card {
    visibility: hidden;
  }
  .next-card {
    visibility: hidden;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .home .bamboo-card {
    width: 87%;
  }
  .pre-card {
    visibility: hidden;
  }
  .next-card {
    visibility: hidden;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .home .bamboo-card {
    width: 33.33333%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .home .bamboo-card {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .home .bamboo-card {
    width: 25%;
  }
}
