.info-quiz {
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #f2f2f2;
  text-align: left;
}
.info-quiz .title__heading {
  max-width: calc(100% - 1.5rem);
  font-size: 1.5rem;
  font-weight: 700;
  word-break: break-word;
  color: #333;
}
.info-quiz .section-title {
  display: block;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #333;
}
.info-quiz .full {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.info-quiz .left-component {
  background-color: #fff;
  height: 100%;
}

.info-quiz .image-quiz {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.info-quiz .button-info {
  margin-right: 10px;
  color: #fff;
  margin-top: 5px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  min-width: 6.25rem;
  height: 2.625rem;
  padding: 0 1rem 4px;
  border-radius: 4px;
  box-shadow: inset 0 -4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat, Helvetica Neue, helvetica, arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.info-quiz .button-play {
  background: #26890c;
}

.info-quiz .button-add {
  background: #ff0000b0;
}

.info-quiz .quest-main {
  margin-bottom: 0.75rem;
  background-color: #fff;
  border-radius: 0.25rem;
  cursor: pointer;
}

.info-quiz .quest-item {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  min-height: 6.25rem;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 0.1875rem;
  text-decoration: none;
}
.info-quiz .right-component {
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
}

.info-quiz .question-media {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.info-quiz .question-media__text {
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: hidden;
  padding: 1rem;
  line-height: 1.5;
  word-break: break-word;
  color: #333;
}

.info-quiz .question-media__number {
  margin: 0 0.25rem 0 0;
  font-weight: 400;
  line-height: 1.25rem;
}

.info-quiz .question-media__text-inner-wrapper {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info-quiz .question-media__text-inner-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  font-weight: 700;
}
.info-quiz .question-media__image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  width: 11.3125rem;
  height: 7.5625rem;
  background: #fff 50% / cover;
  border-radius: 0 0.1875rem 0 0;
}
.info-quiz .question-media__placeholder-image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 11.3125rem;
  height: 7.5625rem;
  background: #ccc 50% / cover;
}

.info-quiz .question-media__duration {
  line-height: 1.25rem;
  font-size: 0.875rem;
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
  padding: 0.25rem 0.5rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.1875rem;
  color: #fff;
}

.info-quiz .add-circle {
  height: 3em;
  width: 3em;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: inset 0 -1px rgba(128, 93, 93, 0.25);
}

.info-quiz .add-question {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info-quiz .array-ans {
  padding: 5px 16px;
  background-color: #fff;
  border-radius: 0 0 3ox;
}

.info-quiz .item-ans {
  width: 100%;
  padding: 5px 0;
  margin: 1px 0;
}

.info-quiz .line {
  width: 100%;
  background-color: #ececec;
  height: 1px;
}

.info-quiz .icon-ans {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  float: left;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.ans-a {
  background-color: rgb(226, 27, 60);
}
.ans-b {
  background-color: rgb(18, 96, 190);
}
.ans-c {
  background-color: rgb(199, 146, 0);
}
.ans-d {
  background-color: rgb(38, 137, 12);
}

.btn-update {
  position: absolute;
  right: 25px;
  top: 10px;
  border-radius: 2px;
  height: 33px;
  width: 33px;
  background-color: rgb(207, 207, 207);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn-update:hover {
  cursor: pointer;
  background-color: rgb(226, 226, 226);
}

@media (max-width: 575.98px) {
  .info-quiz {
    overflow-y: scroll;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .info-quiz {
    overflow-y: scroll;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .info-quiz {
    overflow-y: scroll;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .info-quiz .right-component {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
}
